<h2>Comics</h2>

<% @comics.each do |comic| %>
  <% if comic.artworks.first.present? %>
    <%= link_to image_tag(comic.artworks.first.file, alt: comic.name, height: '200'),
        comic_path(comic) %>
  <% end %>
<% end %>
